.page {
  min-height: 100vh;
  width: 100%;
  background-color: #2b2a2a;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
}

.main-content {
  margin-left: 286px;
  padding-right: 30px;
  width: calc(100% - 286px - 30px);
  height: 100vh;
}

/* Header */
.header-container {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  width: 100%;
  margin-top: 8px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  width: 100%;
}

.header-top label {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 14px;
  color: #ffffff;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px 0 0px;
}

.icon-group {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: white;
}

.header-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.header-icon:hover {
  background-color: #3a3a3a;
}

.header-icon .icon {
  width: 20px;
  height: 20px;
  color: white;
}

.category-buttons {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  height: 38px;
  width: 100%;
}

.category-button {
  width: 80px;
  height: 38px;
  border-radius: 70px;
  padding: 8px 12px;
  background-color: #242424;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #3b3b3b;
  cursor: pointer;
}

.category-button.selected {
  background-color: #7be4e8;
  color: #242424;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  width: 100%;
  margin-top: 5px;
}

.header-bottom label {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 14px;
  color: #ffffff;
}

.add-product-button {
  background-color: #7be4e8 !important;
  color: #000 !important;
  width: 113px;
  height: 42px;
  border-radius: 10px;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
}

/* Product List*/
.product-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 17px;
  margin-top: 10px;
  margin-bottom: 15px;
  width: 100%;
}

.product-card {
  width: 100%;
  max-width: 210px;
  height: auto;
  max-height: 230px !important;
  gap: 7.9px;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

.product-card a {
  text-decoration: none;
}

.product-card img {
  display: block;
  width: 210px !important;
  height: 200px;
  border-radius: 7.9px;
  object-fit: cover;
}

.product-card label {
  width: 158px;
  height: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 13.82px;
  line-height: 13.82px;
  color: #ffffff;
  margin: 4px 0 2px;
  cursor: pointer;
}

.product-card p {
  width: 158px;
  height: 14px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 11.85px;
  line-height: 13.82px;
  color: #ffffff;
  margin-bottom: 0;
}

@media (max-width: 490px) {
  .main-content {
    width: 100%;
    margin-left: 0px;
  }

  .product-grid {
    grid-template-columns: 1fr;
    gap: 12px;
  }
  .product-card img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-top: 40px;
  }

  .category-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    margin-top: 40px;
  }

  .category-button {
    flex: 1 1 auto;
    min-width: 80px;
    max-width: 100%;
    height: 34px;
    padding: 6px 12px;
    white-space: nowrap;
    box-sizing: border-box;
  }

  .add-product-button {
    width: 100%;
    max-width: 70px;
    height: 40px;
    margin-top: 40px;
    padding: 10px 16px;
    box-sizing: border-box;
  }

  .header-bottom label {
    margin-top: 40px;
  }
}

@media (min-width: 491px) and (max-width: 720px) {
  .main-content {
    margin-left: 0;
    padding: 0 20px;
    width: 100%;
  }

  .product-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .category-buttons {
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .add-product-button {
    width: auto;
    max-width: 180px;
    padding: 10px 16px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 721px) and (max-width: 992px) {
  .main-content {
    margin-left: 0;
    padding: 0 24px;
    width: 100%;
  }

  .product-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
  }

  .category-buttons {
    gap: 20px;
  }

  .add-product-button {
    width: auto;
    max-width: 180px;
    padding: 10px 16px;
  }
}

@media (min-width: 993px) and (max-width: 1240px) {
  .main-content {
    margin-left: 286px;
    padding: 0 16px;
    width: calc(100% - 286px - 32px);
    height: auto;
  }

  .product-grid {
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }

  .category-buttons {
    gap: 20px;
  }

  .add-product-button {
    width: auto;
    max-width: 180px;
    padding: 10px 16px;
  }
}

@media (min-width: 1241px) {
  .product-grid {
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
  }
}
