/* Sidebar*/

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 256px;
  height: 100vh;
  background-color: #121212;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.logo-container-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.soluna-logo-sidebar {
  width: 120px;
  height: auto;
  object-fit: contain;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar-item {
  width: 224px;
  height: 39px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-decoration: none;
}

.sidebar-item:hover {
  background-color: #7be4e866;
  color: #7be4e8;
}

.sidebar-item label {
  margin: 0;
  padding: 0;
  color: #a9a9a9;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 45px;
  height: 19px;
}

.sidebar-icon {
  color: #a9a9a9;
}

.sidebar-toggle {
  display: none;
  position: fixed;
  top: 16px;
  left: 16px;
  width: 30px;
  height: 24px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 2100;
}

.sidebar-toggle div {
  width: 100%;
  height: 4px;
  background-color: #7be4e8;
  border-radius: 2px;
}

@media (max-width: 993px) {
  .sidebar {
    left: -100%;
    width: 240px;
    height: 100vh;
    z-index: 2000;
  }

  .sidebar.open {
    left: 0;
  }

  .sidebar-toggle {
    display: flex;
  }

  .main-content {
    margin-left: 0;
    width: 100%;
    padding: 16px;
  }

  .soluna-logo-sidebar {
    width: 100px;
  }

  .sidebar-item {
    width: 100%;
    padding: 10px 12px;
  }

  .sidebar-item label {
    font-size: 14px;
  }
}
